<html>
    <head>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <link rel="stylesheet" href="VideoSummary.css">
		<script src="VideoSummary.js" type="text/jsx"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1">       
    </head>
    <body>
        <div id="app"></div>
    </body>

    <script type="text/jsx">
		ReactDOM.render(<div><VideoSummary videoID="dQw4w9WgXcQ"/><br/><br/><VideoSummary videoID="dQw4w9WgXcQ" mini="true" /></div>, document.getElementById("app"));
    </script>

</html>




