.videoSummaryContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  cursor: pointer;
}

.videoSummaryContainerSmall {
  padding: 0.5rem;
  border: 1px solid black;
  width: 180px;
  display: flex;
  flex-direction: column;
}

.videoSummaryThumbnail {
  object-fit: scale-down;
  max-height: 100px;
}

.videoSummaryText {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.videoSummaryTitle {
  font-weight: bold;
  /*text-overflow: ellipsis; TODO */
}

.videoSummaryContainerSmall > .videoSummaryTitle {
  text-align: center;
}
