.videoSummaryContainer {
    padding: 0.5rem;
    border: 1px solid black;
    width: 400px;
    display: flex;
    flex-direction: row;
}

.videoSummaryContainerSmall {
    padding: 0.5rem;
    border: 1px solid black;
    width: 180px;
    display: flex;
    flex-direction: column;
}

.videoSummaryThumbnail {
    object-fit: scale-down;
    max-width: 180px;
}

.videoSummaryText {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;    
}

.videoSummaryTitle {
    font-weight: bold;
    /*text-overflow: ellipsis; TODO */
}

.videoSummaryContainerSmall > .videoSummaryTitle {
    text-align: center;
}