<html>
    <head>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <link rel="stylesheet" href="SearchResults.css">
        <link rel="stylesheet" href="../VideoSummary/VideoSummary.css">
		<script src="../VideoSummary/VideoSummary.js" type="text/jsx"></script>
        <script src="SearchResults.js" type="text/jsx"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1">       
    </head>
    <body>
        <div id="app"></div>
    </body>

    <script type="text/jsx">
		ReactDOM.render(<div>
            <h1>Search results for "never gonna give you up":</h1>
            <SearchResults query="never gonna give you up" onSelect={(videoData)=>console.log("User selected video: " + videoData.id)}/>
            <br/><br/>
            <h1>Something with no search results:</h1>
            <SearchResults query="ajdsfiojasdfpiojasdfijdsafdsjfio" />
        </div>, document.getElementById("app"));
    </script>

</html>




