.SoftBox {
  border-radius: 30px;
  border: 3px solid var(--primary-color);
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.SoftBoxHeader {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 4px;
  padding: 10px;
}

.SoftBoxBody {
  padding: 5px;
}
