.SoftBox {
  border-radius: 30px;
  border: 3px solid var(--neptune);
  width: 550px;
  overflow: hidden;
}

.SoftBoxHeader {
  background-color: var(--neptune);
  color: var(--vis-vis);
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 4px;
  padding: 10px;
}

.SoftBoxBody {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.SoftBoxBodyDisabledPadding {
  padding: 0px;
}
